<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="droidBackuperTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="droidBackuper.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <appSettings>
    <add key="StartInterval" value="1"/>
    <!--<add key="DeviceManufacturer" value="Wileyfox"/>
    <add key="DeviceName" value="Swift 2"/>-->
    <add key="DeviceManufacturer" value="LGE"/>
    <add key="DeviceName" value="LG-D285"/>
    <add key="Commands" value="notepad.exe c:\HaxLogs.txt; excel; winword;"/>
    <add key="DeviceLog" value="True"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>